# C extensions
*.so

# Compiled Object files
*.slo
*.lo
*.o
*.dylib


# Caffe
*.caffemodel
*.tlog*
*.caffemodel
*.solverstate
*.binaryproto
nets/experiments

# Temporary files
*.log
.idea/
*.iml

# Sphinx documentation
docs/_build/

# PyBuilder
target/
build/
*.autosave

# IDE
.idea

# build dir
build
/build
/bin
/lib

CMakeLists.txt.user
CMakeCache.txt

resources/frames/
resources/senses111
resources/truth/BG_11362
resources/frames/BG_11362
resources/truth/BG_36506/
resources/frames/BG_36506/
resources/differenceHistograms.yaml
resources/abs-changes.png
gold_standard_statistics.txt
resources/d3/data/visData.tsv
resources/*.txt

paper/paper.blg