# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build dir
build
/build
/bin
/lib

resources/senses111
resources/truth/BG_11362
resources/frames/BG_11362
resources/truth/BG_36506/
resources/frames/BG_36506/
resources/differenceHistograms.yaml
resources/abs-changes.png

CMakeLists.txt.user
CMakeCache.txt

gold_standard_statistics.txt

.idea

resources/d3/data/visData.tsv