# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build dir
build
/build
/bin
/lib

resources/senses111

CMakeLists.txt.user
CMakeCache.txt

gold_standard_statistics.txt
